.index_index{
    font-size: 16px;color: #616161 !important;
    border-bottom: 2px solid #29b1fe;
}

.line-solid{
    border-top:1px solid #D3D3D3;
    color:#fff;
    background-color:#999999;
    height:4px;
    margin:20px 0
}
.xtulab_web{
    line-height: 120px;
    font-size: 22pt; color: #ffffff; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none;
}
.bd-d .dt1{
    border-right:  10px solid #999999 ;
    height: 30px;
}
.bd-d .dd1{
    border-left:  10px solid #999999 ;
    height: 30px;
}
.bd-d .dt2{
    border-right:  0.75pt solid #999999 ;
    
}
.span1{
    width:2%;display:inline-block;
}
.span2{
    width:97%; display:inline-block;border-bottom:2px solid #cccccc; height: 100%;
}