.mui-table-view-chevron .mui-table-view-cell {
    padding-right: 10px; 
}
.mui-table-view-cell {
   position: initial;
   overflow: initial;
}
.mui-table-view-cell:after {
   height: 0;
}
.index_index{
    color: #007aff !important;
}
li div ul li{
   font-size: 14px;
   margin-top: 0;
   margin-bottom: 10px;
   color: #8f8f94;
}
