.mui-table-view-chevron .mui-table-view-cell {
    padding-right: 10px; 
}
.mui-table-view-cell {
   position: initial;
   overflow: initial;
}
.mui-table-view-cell:after {
   height: 0;
}
.resume_index{
    color: #007aff !important;
}
ul a li ul li{
   font-size: 14px !important;
   margin-top: 0;
   margin-bottom: 10px;
   color: #8f8f94  !important;
}
/* ul a:hover{
    background-color: red !important;
} */
