.resume_index{
    font-size: 16px;color: #616161 !important;
    border-bottom: 2px solid #29b1fe;
}
.page{
    float: right;
}
.col a{
    text-decoration: none;
}
.col a .card{
    border: 0px;
    background-color: #F4F4F4;
}
.col a ul li{
    border: 0px;
    background-color: #F4F4F4;
}
.col a .card-footer{
    border: 0px;
    background-color: #F4F4F4;
}
.col a:hover .card{ 
    background-color: rgb(231,247,255);
}

.col a:hover ul li{
    background-color: rgb(231,247,255);
}
.col a:hover .card-footer{
    background-color: rgb(231,247,255);
}

h5{
    color: #2479BA;
    text-decoration: none;
    outline: 0;
    font-weight: 700;
}
.card-text{
    color: #666; 
    line-height: 1.5; 
    font-size: 16px;
}

.page-link{
    border: 0px;
    background-color: #F4F4F4 !important;
}