<!DOCTYPE html>
<html lang="zh">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!--标准mui.js-->
    <script src="/static/mobile/js/mui.min.js"></script>
    <!--标准mui.css-->
    <link href="/static/mobile/css/mui.min.css" rel="stylesheet"/>
    {%block css%}<!--  css-->{%endblock%}
</head>
<body>
    
   {% include "./m_nav_header.html" %}
	<div class="mui-content">
		<!--下拉刷新容器-->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				{% block container %}<!-- container-->{% endblock %}
			</div>
		</div>
	</div>
    <script>
    mui('body').on('tap','a',function(){
　　　　　window.top.location.href=this.href;
　　});
    </script>
	{%block script%}<!-- js-->{%endblock%}
</body>
</html>


