{% extends "./m_base.html" %}
{% block description %}首页{% endblock %}
{% block title %} 首页{% endblock %}

{%block css%}<link rel="stylesheet" href="/static/css/m_index_index.css">{%endblock%}



{% block container %}
<ul class="mui-table-view mui-table-view-chevron"   style="margin: 10px;margin-top: 41px;margin-bottom: 41px;" >
	<li class="mui-table-view-cell">
    	<img class="mui-pull-right" src="static/image/photo.png" style="width: 120px;height:150px;max-width: 40%">
    	<div > 
    		<h3 style="margin-top: 20px;">李康建</h3>
    		<p class="mui-ellipsis-2" style="margin-left: 10px;  margin-top: 5px;">
    			电话：18573373087
    		</p>
    		<p class="mui-ellipsis-2" style="margin-left: 10px; margin-top: 5px;">
    			出生年月：2000-10-14
    		</p>
    	</div>
	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800;line-height: 1.5;">个人信息</div>
    		<ul>
    			<li>籍贯：湖南株洲</li>
				<li>学历：本科</li>
				<li>民族：汉族</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">联系方式</div>
    		<ul>
    			<li>qq:1485478535</li>
				<li>电话：18187543087</li>
				<li>微信：lkj0</li>
				<li>地址：湘潭大学QH15-204</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">兴趣爱好</div>
    		<ul>
    			<li>下棋</li>
				<li>编程</li>
				<li>算法</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">自我评价</div>
    		<p>
    			&ensp;&ensp;&ensp;&ensp;&ensp;本人性格开朗直、做事认真踏实、工作兢兢业业、有较强的组织能能力和团队协作精神，能迅速的适应各种环境并融合参加工作以来，所受到的教育及锻炼使我能够熟练作，能独立处理工作中出现的问题。
    		</p>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">教育经历</div>
    		<ul>
    			<li>毕业于湘潭大学</li>
				<li>2011-2012学年校优秀学生、优秀团员，校一等奖</li>
				<li>2012-2013学年校优秀学生、系优秀团员，校一等奖</li>
				
				<li>2013年全国大学生数学建模竞赛省二等奖</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">个人特长</div>
    		<ul>
    			<li>react</li>
				<li>python</li>
				<li>thinkjs</li>
    		</ul>
    	</div>
    	
    </li>
</ul>
{% endblock %}

{%block script%}
<script >
	mui.init({
		pullRefresh: {
			container: '#pullrefresh',
			down: {
				callback: pulldownRefresh
			}
		}
	});
	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			mui.openWindow('/','self');
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
		}, 700);
	}
</script>
{%endblock%}
