 <header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-pull-left"></a>
	    <h1 class="mui-title">xtulab_web</h1>
	</header>
	<nav class="mui-bar mui-bar-tab">
	    <a class="mui-tab-item index_index" href="/">
	        <span class="mui-icon mui-icon-home"></span>
	        <span class="mui-tab-label">首页</span>
	    </a>
	    <a  class="mui-tab-item resume_index" href="/resume?page=1">
	        <span class="mui-icon mui-icon-starhalf"></span>
	        <span class="mui-tab-label">简历</span>
	    </a>
	    <a class="mui-tab-item resume_add" href="/resume/add">
	        <span class="mui-icon mui-icon-plus"></span>
	        <span class="mui-tab-label">添加</span>
	    </a>
	    <a class="mui-tab-item">
	        <span class="mui-icon mui-icon-person"></span>
	        <span class="mui-tab-label">登录</span>
	    </a>
	    <a class="mui-tab-item">
	        <span class="mui-icon mui-icon-info"></span>
	        <span class="mui-tab-label">关于</span>
	    </a>
	</nav>