{% extends "./m_base.html" %}
{% block description %}简历详情页{% endblock %}
{% block title %} 简历详情页{% endblock %}

{%block css%} <link rel="stylesheet" href="/static/css/m_resume_detail.css">{%endblock%}



{% block container %}
<ul class="mui-table-view mui-table-view-chevron"   style="margin: 10px;margin-top: 41px;margin-bottom: 41px;" >
	<li class="mui-table-view-cell">
    	<img class="mui-pull-right" src="/static/image/photo.png" style="width: 120px;height:150px;max-width: 40%">
    	<div > 
    		<h3 style="margin-top: 20px;">{{data1.name}}</h3>
    		<p class="mui-ellipsis-2" style="margin-left: 10px;  margin-top: 5px;">
    			电话：{{data1.phone}}
    		</p>
    		<p class="mui-ellipsis-2" style="margin-left: 10px; margin-top: 5px;">
    			出生年月： {{data1.date_of_birth}}
    		</p>
    	</div>
	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800;line-height: 1.5;">个人信息</div>
    		<ul>
    			<li>籍贯：{{data1.native_place}}</li>
				<li>学历：{{data1.education}}</li>
				<li>民族：{{data1.nation}}</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">联系方式</div>
    		<ul>
    			<li>qq:{{data1.qq}}</li>
				<li>电话：{{data1.phone}}</li>
				<li>微信：{{data1.WeChat}}</li>
				<li>地址：{{data1.address}}</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">兴趣爱好</div>
    		<ul>
    			<li>{{data2.hobby}}</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">自我评价</div>
    		<p>
    			&ensp;&ensp;&ensp;&ensp;&ensp;{{data2.self_evaluation}}
    		</p>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">教育经历</div>
    		<ul>
    			<li>毕业于{{data2.school}}</li>
				<li> {{data2.honor}}</li>
    		</ul>
    	</div>
    	
    </li>
    <li class="mui-table-view-cell">
    	<div > 
    		<div style="margin-top: 10px;font-weight: 800; line-height: 1.5;">个人特长</div>
    		<ul>
    			<li>{{data2.specialty}}</li>
    		</ul>
    	</div>
    	
    </li>
</ul>
{% endblock %}


{%block script%}
<script >
	mui.init({
		pullRefresh: {
			container: '#pullrefresh',
			down: {
				callback: pulldownRefresh
			}
		}
	});
	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			mui.openWindow('/resume/detail/{{data1.id}}','self');
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
		}, 700);
	}
</script>
{%endblock%}