{% extends "./m_base.html" %}
{% block description %}简历浏览页{% endblock %}
{% block title %} 简历浏览页{% endblock %}

{%block css%}<link rel="stylesheet" href="/static/css/m_resume_index.css">{%endblock%}



{% block container %}
<ul class="mui-table-view mui-table-view-chevron"   style="margin: 10px;margin-top: 41px;" > 
{% for item in data%}
    <br/>
	<a href="/resume/detail/{{item.id}}" style="display:inline-block;width:100%;"> 
	    <li class="mui-table-view-cell" style="">
	    	<div style="margin-top: 10px;margin-bottom: 10px;font-weight: 800;line-height: 1.5; color: #2479BA;">
                {{item.name}}的简历
            </div>
	    	<div > 
        		<p>
        			&ensp;&ensp;&ensp;&ensp;{{item.self_evaluation}}
        		</p>
	    	</div>
        	<ul style="list-style: none; color: black; padding: 0;line-height: 200%;">

        		<li>学历：{{item.education}} </li>
	    		<li>籍贯：{{item.native_place}} </li>
	    		<li>电话：{{item.phone}}</li>
               
        	</ul>
	    </li>
        <div style="">
            <p style="float:right;margin-right: 15px;">
                    浏览量：10
        	</p>
        </div>
	</a>
{% else %}
    <div style="text-align: center;height:100px; padding-top: 50px;">
        无简历数据
    </div>
{% endfor %}
</ul>
{% endblock %}



{%block script%}
<script >
	mui.init({
		pullRefresh: {
			container: '#pullrefresh',
			down: {
				callback: pulldownRefresh
			},
			up: {
				contentrefresh: '正在加载...',
				callback: pullupRefresh
			}
		}
	});
	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			mui.openWindow('/resume?page={{ page }}','self');
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
		}, 800);
	}
	var count = 0;
	/**
	 * 上拉加载具体业务实现
	 */
	function pullupRefresh() {
		setTimeout(function() {
			{%if count_page>page %}
                mui.openWindow('/resume?page={{page-(-1)}}',"_self") 
            {% else %}  
                mui.alert("没有更多数据了");
            {% endif %}
		}, 1500);
	}
</script>
{%endblock%}

