{% extends "./m_base.html" %}
{% block description %}添加简历{% endblock %}
{% block title %} 添加简历{% endblock %}

{%block css%}<link rel="stylesheet" href="/static/css/m_resume_add.css">{%endblock%}


{% block container %}
<ul class="mui-table-view mui-table-view-chevron"   style="margin: 10px;margin-top: 41px; margin-bottom: 60px;" > 
	<li class="" style="">
		<form class="mui-input-group">
			<div class="mui-input-row">
				<label>姓名：</label>
				<input type="text" class="mui-input-clear" placeholder="name">
			</div>
			<div class="mui-input-row">
				<label>出生年月:</label>
				<input type="text" class="mui-input-clear" placeholder="2000-01-01">
			</div>
			<div class="mui-input-row">
				<label> 籍贯：</label>
				<input type="text" class="mui-input-clear" placeholder="native place">
			</div>
			<div class="mui-input-row">
				<label>学历：</label>
				<input type="text" class="mui-input-clear" placeholder="education">
			</div>
			<div class="mui-input-row">
				<label> 民族：</label>
				<input type="text" class="mui-input-clear" placeholder="nation">
			</div>
			<div class="mui-input-row">
				<label> qq：</label>
				<input type="text" class="mui-input-clear" placeholder="qq">
			</div>
			<div class="mui-input-row">
				<label>  电话：</label>
				<input type="text" class="mui-input-clear" placeholder="phone">
			</div>
			<div class="mui-input-row">
				<label>微信：</label>
				<input type="text" class="mui-input-clear" placeholder="weChat">
			</div>
			<div class="mui-input-row">
				<label> 地址：</label>
				<input type="text" class="mui-input-clear" placeholder="address">
			</div>
			<div class="mui-input-row">
				<label>爱好：</label>
				<input type="text" class="mui-input-clear" placeholder="hobby">
			</div>
			<div class="mui-input-row" style="margin: 10px 5px;height:100px">
				<label> 自我评价：</label>
				<textarea class="mui-input-clear" id="textarea" rows="5"  placeholder="自我评价"></textarea>
			</div>
			<div class="mui-input-row">
				<label> 地址：</label>
				<input type="text" style="display:inline-block;" class="mui-input-clear" placeholder="address">
			</div>
			<div class="mui-input-row">
				<label> 学校：</label>
				<input type="text" class="mui-input-clear" placeholder="school">
			</div>
			<div class="mui-input-row">
				<label> 荣誉：</label>
				<input type="text" class="mui-input-clear" placeholder="honor">
			</div>
			<div class="mui-input-row" style="margin-bottom:20px">
				<label> 特长：</label>
				<input type="text" class="mui-input-clear" placeholder="specialty">
			</div>
			<div class="mui-button-row" id="submit1" style="text-align:right;margin:20px">
				<button type="submit" id="submit" class="mui-btn mui-btn-primary">提交</button>
			</div>
		</form>
	</li>
</ul>
{% endblock %}







{%block script%}
<script src="/static/js/validator.js"></script>
<script >
	mui.init({
		pullRefresh: {
			container: '#pullrefresh',
			down: {
				callback: pulldownRefresh
			}
		}
	});
	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			mui.openWindow('/resume/add','self');
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
		}, 800);
	}

	mui('.mui-button-row').on("tap","#submit",function () {
		console.log("提交简历");
		var post_data = document.getElementsByClassName("mui-input-clear");
	   	//console.log(post_data)
	   	//for(let i of post_data ) i.value = 11;
		//validator检验
		if (true) {
            let con = 0;
            for(let i of post_data ) {
                if(i.value==='') {
                    mui.alert('数据为空,请补充完整');
                    i.style.backgroundColor= "red";
                    break;
                }
                con++;
            }
            if(con <14) return;
        } 
        if (validator.isDate(post_data[1].value)) {
            console.log(post_data[1].value);
        } else{
            mui.alert('出生年月格式不对，格式为：××××-××-××');
            return;
        }
        if (validator.isMobilePhone(post_data[6].value,validator.isMobilePhoneLocales[92])) {
            console.log(post_data[6].value);
        } else{
            mui.alert('电话不存在');
            return;
        }
        

	   	mui.ajax('/resume/add',{
	   	data:JSON.stringify({
       	    info_one:{
       	        'name': post_data[0].value,
       	        'date_of_birth':post_data[1].value,
       	        'native_place':post_data[2].value,
       	        'education': post_data[3].value,
       	        'nation':post_data[4].value,
       	        'qq' : post_data[5].value,
       	        'phone' : post_data[6].value,
       	        'WeChat':post_data[7].value,
       	        'address':post_data[8].value,
       	    },
       	    info_two:{
       	        'hobby':  post_data[9].value ,
       	        'self_evaluation':post_data[10].value  ,
       	        'school': post_data[11].value ,
       	        'honor':post_data[12].value ,
       	        'specialty':post_data[13].value
       	    },
       	    show:{
       	        'name': post_data[0].value,
       	        'education': post_data[3].value,
       	        'native_place':post_data[2].value,
       	        'phone' : post_data[6].value,
       	        'self_evaluation':post_data[10].value,
       	    }
       	}),
	   	dataType:'json',//服务器返回json格式数据
	   	type:'post',//HTTP请求类型
	   	timeout:10000,//超时时间设置为10秒；
	   	headers:{'Content-Type':'application/json'},	              
	   	success: function (data) {
       	    console.log(data);
       	    if(data.succ){
       	        console.log("数据插入成功");
       	        mui.alert("简历数据插入成功")
       	        window.location.reload();//刷新
       	    }else{
       	        console.log("简历数据插入失败");
       	        mui.alert("简历数据插入失败");
       	    }
       	},
	   	error:function(){
            mui.alert("服务器错误")
            console.log('数据插入失败');
        },
	   	});
	});
</script>
{%endblock%}