<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <!-- bootstrap.min.css-->
    <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    {%block css%}<!--  css-->{%endblock%}
</head>
<body>
    <!-- jquery.js-->
    <script src="/static/js/jquery.min.js"></script>
    <!--bootstrap.js-->
    <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
    {%block script%}<!-- js-->{%endblock%}
    <!-- nav-->
    {% include "nav.html" %} 
    <!-- container-->
    {% block container %}{% endblock %}
    <!-- footer-->
    {% include "footer.html" %}
</body>
</html>