{% extends "./base.html" %}

{% block title %}
    首页
{% endblock %}

{% block description %}首页{% endblock %}
{%block css%}
    <link rel="stylesheet" href="/static/css/index_index.css">
{%endblock%}

{%block script%}

{%endblock%}


{% block container %}
<div class="container mb-4" style="background-color: #FDFDFE;" >
    <div class="row">
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
    </div>
    <div class="row align-items-end border-bottom  w-100">
        <div class="col-lg-3 col-sm-12 pl-0 pr-0 ">
            &ensp;
        </div>
        <div class="col-lg-2 col-sm-12 bg-dark text-center text-truncate xtulab_web rounded ml-4" style="height: 120px;color: white;" >      
               李康建
        </div>
        <div class="col-lg-2 col-sm text-center  text-truncate">
            18573343087
        
        </div>
        <div class="col-lg-2 col-sm text-center text-truncate">
            2000-10-14
        </div>
        <div class="col-lg-2 col-sm text-center">
            <img class="" src="/static/image/photo.png" alt="" >
        </div>
    </div>
    
    <div class="row">
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
    </div>
    <div class="row">
        <div class="col-1">&ensp;</div>
        <div class="col line-solid"></div>
        <div class="col-1">&ensp;</div>
    </div>
    <div class="container pb-5">
        <!-- 个人信息 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">个人信息</dt>
            <dd class="col-10 m-0 dd1 ">
                    <span class="span1"> </span >
                    <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    
                    <li>
                        籍贯：湖南株洲
                    </li>
                    <li>
                        学历：本科
                    </li>
                    <li>
                        民族：汉族
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 联系方法 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">联系方式</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">qq:1485478535</li>
                    <li>
                        电话：18187543087
                    </li>
                    <li>
                        微信：lkj0
                    </li>
                    <li>
                        地址：湘潭大学QH15-204
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 兴趣爱好 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">兴趣爱好</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">下棋</li>
                    <li>编程</li>
                    <li>算法</li>
                </ul>
            </dd>
            
        </dl>
        <!-- 自我评价 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">自我评价</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
             </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    &ensp; &ensp;&ensp; &ensp;本人性格开朗、诚实正直、做事认真踏实、工作兢兢业业、有较强的组织能力、写作能力和团队协作精神，能迅速的适应各种环境并融合其中。自参加工作以来，所受到的教育及锻炼使我能够熟练的管理工作，能独立处理工作中出现的问题。
                </ul>
            </dd>
        </dl>
        <!-- 教育经历 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">教育经历</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
             </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">毕业于湘潭大学</li>
                    <li>
                        2011-2012学年校优秀学生、优秀团员，校一等奖学金
                    </li>
                    <li>
                        2012-2013学年校优秀学生、系优秀团员，校一等奖学金
                    </li>
                    <li>
                        2013年全国大学生数学建模竞赛省二等奖
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 个人特长 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">个人特长</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">react</li>
                    <li>python</li>
                    <li>thinkjs</li>
                </ul>
            </dd>
        </dl>
    </div>

</div>
{% endblock %}


