<nav class="navbar navbar-expand-sm navbar-light  mb-2" style="background-color: #FDFDFE;">
    <div class="container">
        <a href="#" class="navbar-brand h3">xtulab_web</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav " >
                <li class="nav-item">
                    <a href="/" class="nav-link index_index" >首页</a>
                </li>
                <li class="nav-item">
                    <a href="/resume?page=1" class="nav-link resume_index">简历浏览</a>
                </li>
                <li class="nav-item">
                    <a href="/resume/add" class="nav-link resume_add">添加简历</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link ">关于</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">登录</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">注册</a>
                </li>
        
            </ul>
        </div>
    </div>
    
</nav>