{% extends "./base.html" %}

{% block title %}
   
{% endblock %}
{% block description %} 简历详情页{% endblock %}
{%block css%}
    <link rel="stylesheet" href="/static/css/resume_detail.css">
{%endblock%}

{%block script%}

{%endblock%}

{% block container %}
<div class="container mb-4" style="background-color: #FDFDFE;" >
    <div class="row">
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
    </div>
        <div class="row align-items-end border-bottom  w-100">
        <div class="col-lg-3 col-sm-12 pl-0 pr-0 ">
            &ensp;
        </div>
        <div class="col-lg-2 col-sm-12 bg-dark text-center text-truncate xtulab_web rounded ml-4" style="height: 120px;color: white;" >      
                {{data1.name}}
        </div>
        <div class="col-lg-2 col-sm text-center  text-truncate">
            {{data1.phone}}
        
        </div>
        <div class="col-lg-2 col-sm text-center text-truncate">
            {{data1.date_of_birth}}
        </div>
        <div class="col-lg-2 col-sm text-center">
            <img class="" src="/static/image/photo.png" alt="" >
        </div>
    </div>
    <div class="row">
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
    </div>
    <div class="row">
        <div class="col-1">&ensp;</div>
        <div class="col line-solid"></div>
        <div class="col-1">&ensp;</div>
    </div>
    <div class="container pb-5">
        <!-- 个人信息 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">个人信息</dt>
            <dd class="col-10 m-0 dd1 ">
                    <span class="span1"> </span >
                    <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    
                    <li>
                        籍贯：{{data1.native_place}}
                    </li>
                    <li>
                        学历：{{data1.education}}
                    </li>
                    <li>
                        民族：{{data1.nation}}
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 联系方法 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">联系方式</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">qq:{{data1.qq}}</li>
                    <li>
                        电话：{{data1.phone}}
                    </li>
                    <li>
                        微信：{{data1.WeChat}}
                    </li>
                    <li>
                        地址：{{data1.address}}
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 兴趣爱好 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">兴趣爱好</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">{{data2.hobby}}</li>
                </ul>
            </dd>
            
        </dl>
        <!-- 自我评价 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">自我评价</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
             </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    &ensp; &ensp;&ensp; &ensp;{{data2.self_evaluation}}
                </ul>
            </dd>
        </dl>
        <!-- 教育经历 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">教育经历</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
             </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">毕业于 {{data2.school}}</li>
                    <li>
                        {{data2.honor}}
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 个人特长 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">个人特长</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">{{data2.specialty}}</li>
                </ul>
            </dd>
        </dl>
    </div>

</div>
{% endblock %}