{% extends "./base.html" %}

{% block title %}
    全部简历
{% endblock %}
{% block description %}全部简历{% endblock %}
{%block css%}
    <link rel="stylesheet" href="/static/css/resume_index.css">
{%endblock%}

{%block script%}

{%endblock%}

{% block container %}
<div class="container" >
    {% for item in data%}
    <div class="row">
        <div class=" col-lg-1 col-xl-2"> </div>
        <div class="col">
            <a href='/resume/detail/{{item.id}}' class="" title="点击查看详情">
                <div class="card" style="width:100%;">
                    <!-- <img src="images/sm.jpg" alt="" class="card-img-top"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}的简历</h5>
                        <p class="card-text"> &ensp; &ensp;&ensp; &ensp;{{item.self_evaluation}}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item card-text" >学历：{{item.education}} </li>
                        <li class="list-group-item card-text">籍贯：{{item.native_place}} </li>
                        <li class="list-group-item card-text">电话：{{item.phone}} </li>
                    </ul>
                    <div class="card-footer">
                        <div class="float-right text-muted" style="color: black;">浏览量：10</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-1 col-xl-2"> </div>
    </div>
    {% else %}
    <div class="text-center">
        无简历数据
    </div>
    {% endfor %}
    <nav class="" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item  {%if 1>=page %}disabled {%endif%}">
                <a href="/resume?page=1" class="page-link">首页</a>
            </li>
            <li class="page-item {%if 1>=page %} disabled {%endif%}">
                <a href="/resume?page={{page-1}}" class="page-link">上一页</a>
            </li>
            <li class="page-item disabled">
                <a href="" class="page-link"> {{page}} </a>
            </li>
            <li class="page-item {%if page>=count_page %}disabled{%endif%}">
                <a href="/resume?page={{page-(-1)}}" class="page-link">下一页</a>
            </li>
            <li class="page-item {%if page>=count_page %}disabled{%endif%}">
                <a href="/resume?page={{count_page}}" class="page-link">尾页</a>
            </li>
        </ul>
    </nav>
</div>
<br><br><br><br>
{% endblock %}



