{% extends "./base.html" %}

{% block title %}
    添加简历
{% endblock %}
{% block description %} 添加简历{% endblock %}
{%block css%}
    <link rel="stylesheet" href="/static/css/resume_add.css">
{%endblock%}

{%block script%}
<script src="/static/js/validator.js"></script>
<script type="text/javascript">
    $(function () {
        //插入数据
        let dataf = $('.form-control');
        //for(let i of dataf ) i.value = 11;
        console.log('触发事件外面');
        $('#button').click(function () {
            //validator检验
            if (true) {
                let con = 0;
                for(let i of dataf ) {
                    if(i.value==='') {
                        alert('数据为空,请补充完整');
                        i.style.backgroundColor= "red";
                        break;
                    }
                    con++;
                }
                if(con <14) return;
            } 
            if (validator.isDate(dataf[1].value)) {
                console.log(dataf[1].value);
            } else{
                alert('出生年月格式不对，格式为：××××-××-××');
                return;
            }
            if (validator.isMobilePhone(dataf[6].value,validator.isMobilePhoneLocales[92])) {
                console.log(dataf[6].value);
            } else{
                alert('电话不存在');
                return;
            }
   
            
            //post数据
            let post_data = $('.form-control');
            console.log('进入了触发事件');
            $.ajax({
                type:'post',
                url:'/resume/add',
                contentType:'application/json',//contentType 默认为表单提交，此处需要改为json方式
                //dataType:'json',
                data:JSON.stringify({
                    info_one:{
                        'name': post_data[0].value,
                        'date_of_birth':post_data[1].value,
                        'native_place':post_data[2].value,
                        'education': post_data[3].value,
                        'nation':post_data[4].value,
                        'qq' : post_data[5].value,
                        'phone' : post_data[6].value,
                        'WeChat':post_data[7].value,
                        'address':post_data[8].value,
                    },
                    info_two:{
                        'hobby':  post_data[9].value ,
                        'self_evaluation':post_data[10].value  ,
                        'school': post_data[11].value ,
                        'honor':post_data[12].value ,
                        'specialty':post_data[13].value
                    },
                    show:{
                        'name': post_data[0].value,
                        'education': post_data[3].value,
                        'native_place':post_data[2].value,
                        'phone' : post_data[6].value,
                        'self_evaluation':post_data[10].value,
                    }
                }),
                success: function (data) {
                    console.log(data);
                    if(data.succ){
                        console.log("数据插入成功");
                        alert("简历数据插入成功")
                        window.location.reload();//刷新
                    }else{
                        console.log("简历数据插入失败");
                        alert("简历数据插入失败");
                    }
                },
                error:function(){
                    alert("服务器错误")
                    console.log('数据插入失败');
                },
            })
        });
    })
</script>
{%endblock%}


{% block container %}
<div class="container mb-4" style="background-color: #FDFDFE;" >
    <div class="row">
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
    </div>
        <div class="row align-items-end border-bottom  w-100">
        <div class="col-lg-3 col-sm pl-0 pr-0 ">
            &ensp;
        </div>
        <div class="col-lg-2 col-sm-5 bg-dark text-truncate xtulab_web rounded ml-4" style="height: 120px;color: white;" >      
               姓名：<input type="text" class="form-control" placeholder="name">
        </div>
        <div class="col-lg col-sm text-center  text-truncate">
        
        </div>
        <div class="col-lg-2 col-sm-5 ml-4">
            出生年月：<input type="text" name="birth" class="form-control" placeholder="2000-01-01" >
        </div>
        <div class="col-lg col-sm text-center">
            <img class="" src="/static/image/photo.png" alt="" >
        </div>

    
    <div class="row">
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
        <div class="col-3">&ensp;</div>
    </div>
    <div class="row">
        <div class="col-1">&ensp;</div>
        <div class="col line-solid"></div>
        <div class="col-1">&ensp;</div>
    </div>
    <div class="container pb-5">
        <!-- 个人信息 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">个人信息</dt>
            <dd class="col-10 m-0 dd1 ">
                    <span class="span1"> </span >
                    <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    
                    <li>
                        籍贯：<input type="text"  class="form-control" placeholder="native place">
                    </li>
                    <li>
                        学历：<input type="text"  class="form-control" placeholder="education">
                    </li>
                    <li>
                        民族：<input type="text"  class="form-control" placeholder="nation">
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 联系方法 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">联系方式</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">qq:<input type="text"  class="form-control" placeholder="qq"></li>
                    <li>
                        电话：<input type="text" name="phone" class="form-control" placeholder="phone" >
                    </li>
                    <li>
                        微信：<input type="text"  class="form-control" placeholder="weChat">
                    </li>
                    <li>
                        地址：<input type="text"  class="form-control" placeholder="address">
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 兴趣爱好 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">兴趣爱好</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class=""><input type="text"  class="form-control" placeholder="hobby"></li>
                </ul>
            </dd>
            
        </dl>
        <!-- 自我评价 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">自我评价</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
             </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <p>
                        <textarea class="form-control" rows="10"></textarea>
                    </p>
                </ul>
            </dd>
        </dl>
        <!-- 教育经历 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">教育经历</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
             </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class="">毕业于: <input type="text"  class="form-control" placeholder="school"></li>
                    <li>
                       获得荣誉： <input type="text"  class="form-control" placeholder="honor">
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- 个人特长 -->
        <dl class="row bd-d mb-0">
            <dt class="col-2 text-right dt1">个人特长</dt>
            <dd class="col-10 m-0 dd1 ">
                <span class="span1"> </span >
                <span  class="span2"> </span >
            </dd>
            <dt class="col-2 text-right pr-4 dt2"></dt>
            <dd class="col m-0">
                <ul class="pl-4 mb-0 ">
                    <li class=""><input type="text"  class="form-control" placeholder="specialty"></li>
                </ul>
            </dd>
        </dl>
        <input id="button" class="btn btn-success float-right m-2" type="button"   value="提交" >
    </div>
</div>
</div>
{% endblock %}
